* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #92B4F4;

}

/** header setion **/
.tittle {
    color: #0A369D;
    text-align: center;
    padding-top: 65px;
    font-size: 30px;
}

/** hero-section **/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}


.container {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    height: 410px;
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 10%;
    color: black;
    background-color: #5E7CE2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 60px;

}

/** footer **/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-button {
    border: none;
    border-radius: 10%;
    height: 30px;
    width: 90px;
    background-color: #0A369D;
    color: #CFDEE7;
}